.LoginBox {
    text-align: center;
    width: 500px;
    margin: 10px auto;
    border: 1px solid black;
    padding: 50px;
    height: 350px;
    background-color: rgba(67, 103, 221, 0.3);
    border-radius: 30px;
    box-shadow: 0 0 15px 4px rgba(57, 80, 158, 0.541);
}

.LoginBox input {
    width: 500px;
    line-height: 2em;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 4px rgba(143, 31, 31, 0.5);
    font-size: 18px;
    font-weight: bold;
}

.LoginBox input:focus {
    background-color: rgba(95, 196, 49, 0.11);
    outline: 2px blue;
    
}

.LoginBox label {
    width: 100%;
    float: left;
    text-align: left;
    font-size: 23px;
    font-weight: bold;
    margin: 10px auto;
}

.LoginBox button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin: 20px auto;
    background-color: rgba(8, 137, 212, 0.5);
    font-size: 20px;
    font-weight: bold;
}

.LoginBox .ProfileUser {
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 999;
    left: 5px;
}

@media (max-width: 600px) {
    .LoginBox {
        width: 250px;
        height: 400px;
    }  
    .LoginBox input {
        width: 225px;
    }
}

@media (max-width: 400px) {
    .LoginBox {
        width: 175px;
        height: 350px;
    }
    .LoginBox button {
        width: 170px;
        
    }
    .LoginBox input {
        width: 175px;
    }
}