::-webkit-scrollbar {
  width: 18px;
  background: linear-gradient(transparent, #1e1e2f);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#1d8cf8, #1d8bf870);
  border-radius: 6px;
  height: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #1d8bf870);
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
